 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-emphasis: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    
 }
 
 :root{
    background-color: #191f36;
    background-color:#262B40 ;
    color: #fff;
    --main-color:(#59B2F4);
 }
 html{
    font-size: 62.5%;
    overflow-x:hidden ;
 }
 body{
    background: var(--bg-color);
    color:var(--text-color);
   
 }
 
 section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
 }
 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:#191f36 ;
 }
 .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    text-decoration: none;
 }
 .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left:4rem ;
    font-weight: 700;
    text-decoration: none;

 }
 .navbar a:hover,
 .navbar a.active{
    color: #59B2F4;

 }
 #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
 }
 .home{
    display: flex;
    justify-content: center;
    align-items: left;
 }
 .home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
 }
 .home-content h3:nth-last-of-type(2){
    margin-bottom: 2rem;
 }
 span{
color: var(--main-color);
 }
 .home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
 }
.home-img {
    width:20%;
    animation: floatImage 4s ease-in-out infinite;
    float: right;
   
    display: flex;
   
    
 

}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);

    }
    100% {
        transform: translateY(0);
    }
}
.btn{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.home-content p{
   font-size: 1.6rem;
}
.social-media a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   margin: 3rem 1.5rem 3rem 0;
   transition: .5s ease;
   text-decoration: none;
}
.social-media a:hover{
   background:#59B2F4;
   color: #262B40;
   box-shadow: 0 0 1rem #59B2F4 ;
}
.btn{
   display: inline-block;
   padding: 1rem 2.8rem;
   background: #59B2F4;
   border-radius: 4rem;
   box-shadow: 0 0 1rem #59B2F4;
   font-size: 1.6rem;
   color: #262B40;
   letter-spacing: .1rem;
   font-weight: 600;
   transition: .5s ease;
  
}
.btn:hover{
   box-shadow: none;

}
.about{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background:var(--snd-bg-color);
   
}
.About-img img{
   width: 35vw;
  

}
.heading{
   text-align: center;
   font-size: 4.5rem;

}
.about-content h2{
   text-align: left;
   line-height: 1.2;
   font-size: 20px;

}
.about-content h3{
   font-size: 2.6rem;
   margin: 2rem 0 3rem;
   text-align: left;
}
.Services h2{
   margin-bottom: 5rem;
}
.Services-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;

}
.Services-container .Services-box{
   flex: 1 1 30rem;
   background: #f8f9fb0e;
   padding:3rem 2rem 4rem ;
   border-radius: 2rem;
   text-align: center;
   border: .2rem solid #59B2F4;
   transition: .5s ease;
   width: 10%;
   height: 10%;
}
.Services-container .Services-box:hover{
   border-color: var(--main-color);
   transform: scale(1.02);
}
.Services-box i{
   font-size: 7rem;
   color: var(--main-color);
}
.Services-box h3{
   font-size: 2.6rem;
}
.Services-box p{
   font-size: 1.6rem;
   margin: 1rem 0 3rem;
}
.About-img:hover{
   border-color: var(--main-color);
   transform: scale(1.02);
   transition: .5s ease;
}
.Skills{
   background: var(--snd-bg-color);
}
.Skills h2{
   margin-bottom: 4rem;
}
.grid{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
   grid-gap: 25px;
   align-items:stretch;
   
}
.grid >article{
   border: 1px solid  #59B2F4;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   border-radius: 15px;  

}
.grid >article img{
   max-width: 100%;
}
h3{
   font-size: 30px;
   text-align: center;
}
.text p{
   padding: 0 20px 20px;
   font-size: 17px;
}
/* .portfolio-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   gap: 2.5rem;
   
}
.portfolio-container  .portfolio-box{
   position: relative;
   border-radius: 2rem;
   box-shadow: 0 0 1rem var(--bg-color);
   overflow: hidden;
   display: flex;
   
}
.portfolio-box img{
   width: 20%;
   transition: .5s ease;
   opacity: 0.7;
}
.portfolio-box:hover img{
   transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
   position:absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
   display:block;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding:0 4rem;
   transform: translateY(100%);
   transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
   transform: translateY(0);
}
.portfolio-layer h4{
   font-size: 3rem;
   color: yellow;
}
.portfolio-layer p{
   font-size: 1.6rem;
   margin: .3rem 0 1rem;
}
.portfolio-layer a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--text-color);
   border-radius: 50%;
}
.portfolio-layer a i{
   font-size:2rem;
   color: var(--snd-bg-color);
} */
.Contact h2{
   margin-bottom:3rem ;
}
.Contact form{
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;

}
.Contact form .input-box{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.Contact form .input-box input,
.Contact form textarea{
width: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color:var(--text-color);
background: #f8f9fb0e;
border-radius: .8rem;
margin: .7rem 0;
}
.Contact form .input-box input{
   width: 49%;
}
.Contact form textarea{
   resize: none;
}
.Contact form .btn{
   margin-top: 2rem;
   cursor: pointer;
}
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--snd-bg-color);
}
.footer-text{
   font-size: 1.6rem;
}
.footer-iconTop{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem 1rem;
   background: var(--main-color);
   border-radius:.8rem ;
   transition: .5s ease;
}
.footer-iconTop a:hover{
   box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
   font-size: 2.4rem;
   color: var(--snd-bg-color);
}
@media(max-width:991px){
   .header{
      padding: 2rem 3%;
   }
   section{
      padding: 10REM 3%;
   }
   .Services{
      padding: 7rem;
   }
   .portfolio{
      padding-bottom: 7rem;
   }
   .Contact{
      min-height: auto;
   }
   .footer{
      padding: 2rem 3%;
   }
}
@media(max-width:768px){
   #menu-icon{
      display: block;
   }
   .home{
      flex-direction: column;
   }
   .home-content h3{
      font-size: 2.6rem;
   }
   .home-content{
      order: 2;
   }
   .home-content h1{
      font-size: 5rem;
   }
   .home-img img{
      width: 90vw;
      margin-top: 4rem;
   }
   .Services h2{
      margin-bottom: 3rem;
   }
   .portfolio-container{
      grid-template-columns: repeat(2,1fr);
   }
}